.Object {
    background-color: white;
    width: 25%;
    margin: 10px;
    border: rgba(128, 128, 128, 0.198) 2px solid;
    cursor: pointer;
}

.Object img {
    width: 50%;

}

/* .Object :hover{
    background-color: #0dc5c1;
} */