.Object {
    background-color: white;
    width: 25%;
    margin: 10px;
    border: rgba(128, 128, 128, 0.198) 2px solid;
    cursor: pointer;
}

.Object:hover {
    background-color: #0dc5c270;
    transition: 0.5s;
}

.Object img {
    width: 50%;

}

@media only screen and (min-width: 700px) {
    .Object {
        width: 20%;
    }
}
@media only screen and (max-width: 600px) {
    .Object {
        width: 40%;
    }
}
@media only screen and (max-width: 500px) {
    .Object {
        width: 80%;
    }
}
