.Footer {
    background-color: #0dc5c1;
    color: rgb(219, 219, 219);
    bottom: 0;
    position: absolute;
    height: 40px;
    width: 100%;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    margin-top: 20px;
}

.FooterLinks {
    display: flex;
    flex-flow: row;
    list-style: none;
}

.FooterLinks li {
    margin-left: 10px;
    text-decoration: underline;
    
}

