.Tappat {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding: 0 10px;
}

.SearchBar {
    width: 80%;
    font-size: 25px;
    margin: 10px 0;

}

.Object :hover{
    background-color: #0dc5c1;
}

@media (max-width: 500px) {
    .Tappat {
        padding: 0;
    }
    .SearchBar {
        width: 95%;
    }
}