.Tappat {
    width: 100%;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    padding: 0 10px;
}

.SearchBar {
    width: 80%;
    font-size: 25px;
    margin: 10px 0;

}

.Object :hover{
    background-color: #0dc5c1;
}
