.Summary {
    width: 100vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Title {
    width: 100vw;
    background-color: rgb(238, 238, 238);
    margin: 30px 0;
    color: #0dc5c1;
    font-weight: lighter;
}

.ObjectSection {
    width: 900px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 10%;
    animation: fadeIn 1s;
}

/* Media Queries */

@media (max-width: 1020px) {
    .ObjectSection {
        margin: 0;
    }

}

/*Animations*/

@keyframes slideRight {
    from {transform: translateX(-400px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
    
}

@keyframes slideLeft {
    from {transform: translateX(400px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
    
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
    
}