.ObjectFull {
    width: 70%;
    margin: 20px 15%;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border:#80808032 2px solid;
    cursor: pointer;
    animation: slideDwn 1s;
}

.ObjectFull:hover {
    background-color:#0dc5c270;
}

.TextSection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ImageSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ObjectFull img {
    max-width: 50%;
    height: 400px;
    object-fit: contain;
}


h1 {
    width: 100%;
    margin: 0;
}

h4 {
    width: 100%;
    margin:0;
}

@media screen and (max-width: 500px) {
    .ObjectFull {
        width: 100%;
        height: 80vh;
        margin: 0;
    }
    
    .ObjectFull img {
      max-width: 70%;
    }
  }

  @keyframes slideDwn {
      0% {transform:translateY(-100px)};
      100% {transform:translateY(0px)};
  }